@tailwind base;
@tailwind components;
@tailwind utilities;

.cut-text {
    text-overflow: ellipsis;
    overflow: hidden;
    width: auto;
    height: 1.2em;
    white-space: nowrap;
}

.product-row{
    vertical-align: middle;
}

.product-row-actions {
    vertical-align: middle;
    text-align: end;
}